<style>
  
    .nav > .nav-first-level.active {
        border-left: 4px solid #a7cc46;
    }

    .qa-nav-item > .tooltip .tooltip-inner {
        white-space: nowrap !important;
    }
</style>
<nav class="nav-style navbar-default" role="navigation" style="width: 55px; z-index: 2001; position: absolute;">
    <div class="sidebar-collapse">

        <ul class="nav side-nav" id="side-menu">

            <li class="nav-header" style="background-color: #4CAF50;">

            <div class="logo-element" style="padding: 17px 0 17px 8px;">
                <a href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)">
                    <img src="~/Images/physio.jpg" width="40" alt="logo"></a>

            </div>
            </li>

            <li class="nav-first-level qa-nav-item">
                <a href="@Url.Action(MVC.Home.ActionNames.AddDoctor, MVC.Home.Name)" data-placement="right" title="Medical">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
            </li>
            <li class="nav-first-level qa-nav-item">
                <a href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)" data-placement="right" title="Star">
                    <i class="glyphicon glyphicon-asterisk"></i>
                </a>
            </li>
            <li class="nav-first-level qa-nav-item">
                <a href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)" data-placement="right" title="Music">
                    <i class="glyphicon glyphicon-music"></i>
                </a>
            </li>
            <li class="nav-first-level qa-nav-item">
                <a href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)" data-placement="right" title="Search">
                    <i class="glyphicon glyphicon-search"></i>
                </a>
            </li>
            <li class="nav-first-level qa-nav-item">
                <a href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)" data-placement="right" title="User">
                    <i class="glyphicon glyphicon-user"></i>
                </a>
            </li>
            <li class="nav-first-level qa-nav-item">
                <a href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)" data-placement="right" title="List">
                    <i class="glyphicon glyphicon-th-list"></i>
                </a>
            </li>
            
            <li class="nav-first-level qa-nav-item">
                <a href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)" data-placement="right" title="Medical">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
            </li>
            <li class="nav-first-level qa-nav-item">
                <a href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)" data-placement="right" title="Star">
                    <i class="glyphicon glyphicon-asterisk"></i>
                </a>
            </li>
            <li class="nav-first-level qa-nav-item">
                <a href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)" data-placement="right" title="Music">
                    <i class="glyphicon glyphicon-music"></i>
                </a>
            </li>
            <li class="nav-first-level qa-nav-item">
                <a href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)" data-placement="right" title="Search">
                    <i class="glyphicon glyphicon-search"></i>
                </a>
            </li>
            <li class="nav-first-level qa-nav-item">
                <a href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)" data-placement="right" title="User">
                    <i class="glyphicon glyphicon-user"></i>
                </a>
            </li>
            <li class="nav-first-level qa-nav-item">
                <a href="@Url.Action(MVC.Home.ActionNames.Index, MVC.Home.Name)" data-placement="right" title="List">
                    <i class="glyphicon glyphicon-th-list"></i>
                </a>
            </li>
            
        </ul>
    </div>
</nav>

<script>


</script>
